@charset "UTF-8";
html,body { height: 100%; }
body {
  min-width: 1320px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #666666;
 }
/*
실습-google 웹폰트 noto sans kr을 적용하시오
*/
ul,ol { list-style: none; }
a { color: #666666; }
h1,h2,h3,h4,h5,h6 { line-height: 1; }

/* header area */
#header-wrap {
  /* 1320px고정형으로 들어가서 화면이 더커지면 중앙으로 정렬 */
  width: 1320px;
  margin: 0 auto;
  background: #f1f1f1;
}

/* 상단 고정형 메뉴
사이트이름,시작하기~고객센터*/
#header {
  position: fixed;
  width: 1320px;
  margin: 0 auto;
  /* background: gray; */
  /* 위 45, 좌우 20, 바닥은0 */
  padding: 45px 20px 0;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 300;
}

#logo {
  float: left;
}

/* 시작하기~장바구니까지 사이트 오른쪽으로 정렬하기 */
#header .inner { float: right; }

/* 오른쪽으로 정렬했으니 안에 li 하나하나 요소들을 한줄로 정렬 다시하기 */
#header .inner #gnb, #header .inner #login-menu { float: left; }

/* #gnb #login-menu의 공통코드를 확인하고 코드를 재작성하시오 */
#header .inner > ul {
  overflow: hidden;
}

#header .inner > ul > li {
  float: left;
  /* height: 20px; */
}

#header .inner > ul > li > a {
  line-height: 20px;
}


#gnb {
  /* 시작하기~고객센터-로그아웃사이에 간격주기 */
  /* overflow: hidden; */
  margin-right: 93px;
}

#gnb li {
  /* float: left;
  height: 20px; */
  margin-left: 50px;
}

/* #gnb li a {
  line-height: 20px;
} */

#gnb li:nth-child(1) {
  margin-left: 0;
}

/* #login-menu {
  overflow: hidden;
} */

/* #login-menu li a {
  line-height: 20px;
} */

#login-menu li {
  /* float: left;
  height: 20px; */
  margin-left: 30px;
}

#login-menu li:nth-child(1) {
  margin-left: 0;
}

/* 장바구니 카운터 */
/* 장바구니 옆에 카운터 동그라미 옐로우 도형만들기 */
#login-menu li a.cart span.count {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 19px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  /* 동그라미 안에 숫자 색 */
  color: #ffffff;
  margin-left: 5px;
  border-radius: 50%;
  background: #ffc01d;
}

/* 메인 배너 영역 */
#mainbanner {
  /* 모니터가 1800px이면 면도 메인사진이 4000px인데 모니터 안에가운데 정렬하려면 백그라운드포지션주기. */
  background-image: url('../img/main_banner_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  /* 포토샵 메인베너와 동일한 색으로 설정한다 */
  background-color: #f4f4f4;
}

#mainbanner .inner {
  /* 나중에 안에있는 요소를 엡솔루트로 잡기위해 렐러로 잡음 */
  position: relative;
  width: 1320px;
  height: 100vh;
  margin: 0 auto;
  /* background: red; */
}

/* 메인 배너 텍스트 */
#mainbanner .maintext {
  /* position: absolute;
  width: 100%;
  min-height: 254px;
  top: 50%; */
  /* transform: translateY(-50%); */
  /* 메인배너 글씨 전체를 상단에서 268px정도 내려오게 만들기 */
  padding-top: 268px;
  text-align: center;
  /* background: yellow; */
}

/* 메인배너 메인타이틀 */
#mainbanner .maintext p {
  font-size: 50px;
  color: #333333;
}

#mainbanner .maintext p.maintitle {
  line-height: 60px;
}

/* 독일산 5중날~ */
#mainbanner .maintext p.subtitle {
  margin-top: 30px;
  font-size: 20px;
  color: #666666;
}

/* 파란색박스 위에 40px만큼 40px공간주기 */
#mainbanner .maintext p.subtitle + .common-btn {
  margin-top: 40px;
}

/* 더 알아보기 파랑색 박스 만들기 너비,높이,레디우스는 포토샵(properties)에서 확인함 */
.common-btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  background: #0055b8;
  font-size: 20px;
  color: white;
}

/* 컨텐츠 영역 */
#container section .inner {
  width: 1320px;
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  /* background: pink; */
}

/* 짝수번째 section의 배경색상을 #f9f9f9로 style 작성하시오 */
/* 컨테이너의 형제요소가 섹션밖에 없으니 child로 짝수지정해도됨 */
#container section:nth-child(even) {
  background: #f9f9f9;
}

#container section:nth-of-type(1) .inner {
  padding-top: 165px;
  min-height: 485px;
}

#container section:nth-of-type(2) .inner {
  padding-top: 145px;
  min-height: 505px;
}

/* section 공통요소 style  */
/* 다양한기초자산 타이틀 글씨  */
#container section .inner h2 {
  font-size: 45px;
  /* 라인하이트 1은 폰트사이즈와 동일하게 하겠다 */
  line-height: 1;
  color: #333333;
}

/* 다양한기초자산 밑에 서브타이틀글씨  */
#container section .inner .subtitle {
   margin-top: 22px;
   font-size: 20px;
   line-height: 30px;
   color: #666666;
}

/* //section 공통요소 style  */

#container section .inner .box-wrap {
  overflow: hidden;
}

#container section .inner .box-wrap li {
  float: left;
  width: calc(25% - 40px);
  /* 위아래0 좌우로20 */
  padding: 0 20px;
  text-align: center;
  /* background: yellow; */
}

#container section .inner .box-wrap li .items {
  border: 1px solid #e3e3e3;
  padding: 47px 0 45px;
}

#container section .inner .box-wrap li .items h3 {
  font-size: 20px;
  color: #252525;
}

#container section .inner .box-wrap li .items p {
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 24px;
}

#container section .inner .box-wrap li .items .img img {
  opacity: .65;
}

/* section 두번째 */
#container section .inner .thumb-img-wrap {
  /* text-align: center; ->자식요소 ul을 가운데 정렬한다. 단, ul의
  display의 값이 inline 이거나   또는 inline-block일때 정렬이 된다. */
  text-align: center;
}

#container section .inner .thumb-img-wrap ul{
  overflow: hidden;
  /* 부모요소 li의 컨텐츠 크기 만큼 너비가 지정된다 */
  display: inline-block;
}

#container section .inner .thumb-img-wrap ul:nth-child(1) {
  margin-top: 70px;
}

#container section .inner .thumb-img-wrap ul:nth-child(2) {
  margin-top: 80px;
}

#container section .inner .thumb-img-wrap ul li {
  float: left;
  width: calc( 100% / 6 );
  height: 37px;
}

#container section .inner .thumb-img-wrap ul li img {
  /*이미지가 초기값 220px이상 또는 이하로 변경 시 li 요소의 너비 % 기준으로
  크기가 변경된다 */
  width: 100%;
}

/* section 세번쨰 */
#container section .inner .box {
  float: left;
  width: 50%;
  min-height: 650px;
  text-align: center;
}

#container section .inner .box.img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#container section:nth-child(3) .inner .box.img {
  background: url('../img/section_3/bg_img.png');
}

/* section 4번째 */
#container section:nth-child(4) {
  background-color: #f4f4f4;
  background-image: url('../img/section_4/bg_img.png');
  background-repeat: no-repeat;
  /* 섹션의 높이와 동일하게 가겠다 100% */
  background-size: auto 100%;
  /* +는 오른쪽으로 가는것, -왼쪽으로 이동, 중심선이 안맞아서 반틈인 720에서 55픽셀만큼 뺀 만큼 오른쪽으로 이동 */
  background-position: calc( 50% + 665px ) center;
}

#container section:nth-child(4) .inner .box {
  text-align: left;
}

#container section:nth-child(4) .inner .box .text-box {
  padding-left: 50px;
}

/* section 다섯번째 */
#container section:nth-child(5) {
  background-color: #1d314a;
}

#container section:nth-child(5) .inner h2{
  color: white;
}

#container section:nth-child(5) .inner .box.img {
  background-image: url('../img/section_5/bg_img.png');
  /* 사진높이만큼 610px로 맞춰주기 */
  background-size: auto 610px;
  background-position: center bottom;
}

#container section .inner .box .text-box {
  display: inline-block;
  text-align: left;
  margin-top: 160.5px;
  padding-left: 140px;
}

#container section .inner .box .text-box h2{ line-height: 60px; }

/* 파랑버튼박스 안 글씨 중앙정렬 */
#container section .inner .box .text-box a {
  text-align: center;
  margin-top: 35px;
 }

/* 하단 영역 footer */
#footer {
  background-color: #eeeeee;
}

#footer .inner {
  position: relative;
  width: 1320px;
  height: 200px;
  padding: 50px 20px;
  box-sizing: border-box;
  /* 0 auto 가운데정렬 */
  margin: 0 auto;
}

#footer .inner .f-box {
  float: left;
}

#footer .inner .f-box:nth-child(2) {
  /* margin-left를 줘도 똑같음 */
  padding-left: 75px;
}

/* site menu */
#footer .inner .f-box ul { overflow: hidden; }

#footer .inner .f-box ul li {
  float: left;
  height: 20px;
  margin-right: 40px;
}

#footer .inner .f-box ul li:last-child {
  margin-right: 0;
}

#footer .inner .f-box ul li a{
  line-height: 20px;
  color: #333333;
}

#footer .inner .f-box .tel {
  /* 16px 폰트사이즈와 동일하게 라인하이트를 주겠다. =1 */
  margin-top: 17px;
  line-height: 1;
  color: #333333;
  font-weight: bold;
}

#footer .inner .f-box .copyright {
  margin-top: 21px;
  font-size: 12px;
  line-height: 16px;
  color: #777777;
}

#familysite {
  position: absolute;
  width: 190px;
  height: 30px;
  top: 41px;
  right: 20px;
  border: 1px solid #d1d1d1;
  color: #333333;
  outline: none;
  /* 박스 하단화살표 없애기 */
  appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 15px;
  padding-left: 15px;
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  /* 오른쪽 맨 끝으로 보내는것 right, 또는 100%
  100%으로 맨끝으로 보내면 안되고, 패딩라이트 15px만틈 앞으로 당겨줘야하니까 100%-15px로 해준다
  y축은 center */
  background-position: calc( 100% - 15px ) center;
}

/* ie 브라우저 select box arrow button 이미지 삭제 */
select::-ms-expand {
  display: none;
}

#familysite:focus {
  border: 1px solid #999999;
  background-image: url('../img/select_box_arrow_.png');
}
